.galleryContainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   /* align-items: center; */
   background-color: #F6F6F6;
   gap:50px;
   padding: 30px 0;
   border-radius: 25px;
   width: 90%;
   margin: 50px auto;
   padding: 30px;
}

.galleryCard {
   text-decoration: none;
   transform: scale(1);
   transition: transform 0.3s ease-in-out;
}

.galleryCard:hover {
   transform: scale(1.05);
   transition: transform 0.3s ease-in-out;   
}

.cardPicture {
   display: flex;
   flex-wrap: wrap;
   width: 340px;
   height: 340px;
   border-radius: 10px;
   overflow: hidden;
}

.galleryCard img {
   height: 100%;
   width: auto;
   object-fit: cover;
   object-position: center;
   border-radius: 10px;
}

.galleryCard .cardPicture:after {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
   z-index: 0;
   border-radius: 10px;
   transform: opacity(1);
   transition: transform 0.3s ease-in-out;
}

.galleryCard .cardPicture:hover:after {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: none;
   z-index: 0;
   border-radius: 10px;
   transform: opacity(0);
   transition: transform 0.3s ease-in-out;
}

.galleryCard h3 {
   position: absolute;
   z-index: 1;
   font-weight: normal;
   font-size: 20px;
   color: #FFFFFF;
   position: relative;
   left: 20px;
   right: 20px;
   bottom: 60px;
   width: 90%;
}

/* ----- Responsive ----- */

@media only screen and (max-width:768px) {
   .galleryCard {
      width: 100%;
   }
   
   .cardPicture {
      width: 100%;
      justify-content: center;
   }

    .galleryCard .imgFilter, .galleryCard img {
      width: 90%;
    }

}
@media only screen and (max-width:375px) {
    .galleryContainer {
      padding: 0px;
      background-color: #FFFFFF;
    }
   
    .galleryCard .imgFilter, .galleryCard img {
      width: 100%;
      height: 255px;
    }

   .cardPicture {
      height: 255px;
   }

   .galleryCard h3 {
      font-size: 16px;
   }
}

/* ----- Keyframes ------*/
@keyframes overCardOpacity {
   0% {
      opacity: 50%;
   }
   100% {
      opacity: 0%;
   }
}

@keyframes offCardOpacity {
   0% {
      opacity: 0%;
   }
   100% {
      opacity: 50%;
   }
}

