.apartmentBody {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0;
}

.carousel {
   display: flex;
   justify-content: center;
   width: 100%;
   margin-bottom: 30px;
}

.designation {
   display: flex;
   width: 70%;
   padding: 0 5%;
   color: #FF6060;
}

.apartmentDesignation {
   flex-direction: row;
}

.apartmentTitle {
   display: flex;
   font-size: 36px;
   align-items: none;
}

.apartmentLocation {
   font-size: 18px;
}

.apartmentHost {
   position: absolute;
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 18px;
   width: 160px;
   right: 5%;
}

.hostName {
   width: 93px;
   text-align: right;
   padding-right: 10px;
}

.hostPicture {
   border-radius: 50%;
   height: 64px;
}

.apartmentAssets {
   display: flex;
   margin: 0 5%;
}

.apartmentTags ul {
   display: flex;
   flex-direction: row;
   padding: 20px 0px;
}

.apartmentTags li {
   font-size: 14px;
   margin-right: 10px;
   list-style: none;
   color: #FFFFFF;
   background-color: #FF6060;
   border-radius: 10px;
   padding: 3px 35px;
}

.apartmentRate {
   position: absolute;
   right: 5%;
   height: 36px;
}

.apartmentCaracteristics {
   display: flex;
   justify-content: center;
   width: 90%;
   /* min-height: 40px; */
   margin: 0 5%;
   gap: 5%;
   color: #FF6060;
}


