.scrollingArrow {
   border: none;
   background-color: #FF6060;
   padding-right: 10px;
   cursor: pointer;
}

.arrowUp {
   transform: rotate(180deg);
   transition: transform 300ms ease-in-out;
}

.arrowDown {
   transform: rotate(0deg);
   transition: transform 300ms ease-in-out;
}

