.errorBody {
   text-align: center;
   text-decoration: none;
   margin-bottom: 100px;
}

.errorBody h1 {
   font-weight: 700;
   font-size: 288px;
   margin-bottom: 50px;
}

.errorBody h2 {
   font-size: 36px;
   margin-bottom: 100px;
}

.errorBody a {
   font-size: 18px;
   text-decoration: underline solid #FF6060;
}
