footer {
   height: 209px;
   text-align: center;
   font-family: 'Montserrat';
   background-color: black;
}

.footerLogo {
   padding-top: 66px;
}

.copyright {
   padding-top: 50px;
   color: white;
}

/* ----- Responsive -----*/

@media only screen and (max-width:375px) {
    
}