.galleryContainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   max-width: 1240px;
   margin: 40px auto;
   background-color: #F6F6F6;
   gap:50px;
   padding: 50px 0px;
   border-radius: 25px;
}

.galleryCard{
   text-decoration: none;
}

.galleryCard .cardPicture {
   display: flex;
   flex-wrap: wrap;
   color: #FF6060;
   width: 340px;
   height: 340px;
   border-radius: 10px;
   overflow: hidden;
}

.galleryCard img {
   height: 100%;
   width: auto;
   object-fit: cover;
   object-position: center;
}

.galleryCard .imgFilter {
   position: absolute;
   z-index: 0;
   height: 340px;
   width: 340px;
   background: linear-gradient(#FFFFFF, #000000);
   opacity: 50%;
   border-radius: 10px;
}

.galleryCard h3 {
   position: absolute;
   z-index: 1;
   font-weight: normal;
   font-size: 18px;
   color: #FFFFFF;
   position: relative;
   left: 20px;
   right: 20px;
   bottom: 50px;
   width: 300px;
}

