.galleryContainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   max-width: 1240px;
   margin: 40px auto;
   background-color: #F6F6F6;
   gap:50px;
   padding: 50px 0px;
   border-radius: 25px;
}

.galleryCard{
   text-decoration: none;
   transform: scale(1);
   transition: transform 0.3s ease-in-out;
}

.galleryCard:hover {
   transform: scale(1.05);
   transition: transform 0.3s ease-in-out;   
}

.cardPicture {
   display: flex;
   flex-wrap: wrap;
   width: 340px;
   height: 340px;
   border-radius: 10px;
   overflow: hidden;
}

.galleryCard img {
   height: 100%;
   width: auto;
   object-fit: cover;
   object-position: center;
}

.galleryCard .imgFilter {
   position: absolute;
   z-index: 0;
   height: 340px;
   width: 340px;
   background: linear-gradient(#FFFFFF, #000000);
   border-radius: 10px;
   opacity: 50%;
   animation: offCardOpacity 0.5s ease-in-out;
}

.galleryCard .imgFilter:hover {
   animation: overCardOpacity 0.5s ease-in-out;
   opacity: 0%;
}

.galleryCard h3 {
   position: absolute;
   z-index: 1;
   font-weight: normal;
   font-size: 18px;
   color: #FFFFFF;
   position: relative;
   left: 20px;
   right: 20px;
   bottom: 50px;
   width: 300px;
}

@keyframes overCardOpacity {
   0% {
      opacity: 50%;
   }
   100% {
      opacity: 0%;
   }
}

@keyframes offCardOpacity {
   0% {
      opacity: 0%;
   }
   100% {
      opacity: 50%;
   }
}

