.navBar {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   list-style: none;
   width: 309px;
}

.navBarLinks a {
   text-decoration: none;
   color: #FF6060;
}

.navBarLinks a:hover {
   text-decoration: underline;
}


/* ----- Responsive -----*/

@media only screen and (max-width:375px) {
   .navBar {
      
   }
}